<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIUuJDR7hjDV6nqSTj2vw67t6F4QUx70Y</string>
	<key>GCM_SENDER_ID</key>
	<string>379009727823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportoteka.sportotekaapp</string>
	<key>PROJECT_ID</key>
	<string>sportotekaapp-dbaf5</string>
	<key>STORAGE_BUCKET</key>
	<string>sportotekaapp-dbaf5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379009727823:ios:2e311f57a5e770d442193a</string>
</dict>
</plist>